* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: burlywood;
}

header {
    text-align: center;
    margin-bottom: 50px;
}

header h1 {
    color: blue;
    text-decoration: underline;
}

header h3 {
    margin: 20px 0;
    color: red;
}

header span {
    color: green;
}

.tic-board {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1000px;
    margin: 0 auto;
}

.tic-board table {
    border-collapse: collapse;
}

.tic-board td {
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 100px;
}

.center{
    border: solid 5px black;
}

.top-left {
    border-bottom: solid 5px black;
    border-right: solid 5px black;
}

.top-right {
    border-bottom: solid 5px black;
    border-left: solid 5px black;
}

.bottom-left {
    border-top: solid 5px black;
    border-right: solid 5px black;
}

.bottom-right {
    border-top: solid 5px black;
    border-left: solid 5px black;
}

#end-message {
    height: fit-content;
    text-align: center;
}

#end-message  h1 {
    font-size: 50px;
    color: blue;
    text-decoration: underline;
    margin-bottom: 30px;
}

#end-message  h3 {
    font-size: 30px;
    margin-bottom: 20px;
}

#end-message  button {
    font-size: 20px;
    font-weight: bolder;
    background-color: green;
    padding: 15px;
    border: solid 3px black;
    border-radius: 15px;
    transition: 0.2s;
}

#end-message  button:hover {
    background-color: rgb(10, 247, 10);
    font-size: 22px;
}